body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
    color: #000;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 84px;
    text-align: center;
    gap: 20px;
    padding: 60px 20px;
}

.warning-alarm{
    background-color: #F7C1C2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    color: #A73049;
}

.warning-alarm i{
    font-size: 24px;
    animation: blink 1s infinite;
}
.warning-alarm p{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.hero-container h1{
    font-size: 45px;
    margin-bottom: 10px;
    color: navy;
}
.hero-container span{
    color: #A73049;
    font-weight: bold;
}

.hero-content p {
    color: #000;
    font-size: 18px;
    
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 40px;
}
.cta-button {
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.cta-button.report {
    background-color: #A73049;
    color: white;
}
.cta-button.report:hover {
    background-color: #861F36;

}
.cta-button.learn-more {
    background-color: #F7C1C2;
    color: #A73049;
}
.cta-button.learn-more:hover {
    background-color: #A73049;
    color: white;
}
.hero-active {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.free-access {
    color: #000;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.free-access i {
    font-size: 18px;
    background-color: #48CE6A;
    padding: 5px;
    color: white;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .hero-container {
        height: auto;
        padding: 40px 20px;
    }

    .hero-container h1 {
        font-size: 32px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 20px;
    }
    .hero-active {
        flex-direction: column;
        gap: 5px;
    }
}

/* STATS */

.stats{
    background: white;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    text-align: center;
    gap: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.08);
}

.stat-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stat-box h2{
    color: #A73049;
    font-size: 32px;
}


/* FEATURES */

.features{
    background: #f1f3f8;
    padding: 60px 20px;
    text-align: center;
}

.title {
    color: #A73049;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.feature-grid{
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.feature-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
}

.feature-card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.feature-icon i {
    font-size: 30px;
    color: #A73049;
    margin-bottom: 20px;
}

.feature-title{
    margin: 10px 0;
    font-size: 20px;
    color: #12375A;
}


.feature-desc {
    margin-bottom: 10px;
}

.feature-link a {
    text-decoration: none;
    color: #4183FE;
    font-size: 14px;
}

.feature-link a:hover {
    text-decoration: underline;
}

.feature-link i {
    font-size: 14px;
    color: #4183FE;
}


/* STEPS */

.steps{
    background: #FFE6E7;
    padding: 60px 20px;
    text-align: center;
}

.steps .title{
    color: #12375A;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.step-grid{
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}

.step {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
}

.step-number{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #A73049;
    color: white;
    border-radius: 50%;
    line-height: 40px;
    font-weight: 700;
    font-size: 22px;
}

.step-title{
    margin: 15px 0 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #12375A;
}

.step-desc {
    color: #000;
    font-size: 16px;
}


/* MODAL */

.modal{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    display:none;
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
    width:90%;
    max-width:400px;
}

.modal-content button{
    margin-top:15px;
    padding:10px 25px;
    border:none;
    background:#A73049;
    color:white;
    border-radius:20px;
    cursor:pointer;
}

@media (max-width: 900px) {
    .feature-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .feature-grid {
        grid-template-columns: 1fr;
    }
}